.container {
	font-family: 'Inter', 'sans-serif';
	padding: 0 20px;
}
.title {
	font-size: 32px;
	font-weight: 600;
	text-align: center;
}
.subtitle {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	color: #696969;
}
.team_container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 25px;
	//padding: 10px 20px;
	@media (min-width: 600px) {
		grid-template-columns: 1fr 1fr;
	}
}
