.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #ccc;
	font-family: 'Inter', sans-serif;
	padding: 20px 10px;
	background-color: #fafafa;
	&:hover {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}
}
.title {
	font-size: 22px;
}
.flexRow {
	display: grid;
	justify-content: center;
	align-items: flex-start;
	grid-template-columns: 120px 1fr;
	gap: 20px;
}
.preview_text {
	margin: 0;
	color: #696969;
	font-size: 14px;
	font-weight: 600;
}
.date {
	font-weight: 400;
	color: #808080;
	flex: 1;
}
.days {
	background-color: #217591;
	//border-radius: 20px;
	color: #fff;
	padding: 3px 5px;
	font-weight: bold;
}
.coming_soon {
	color: #217591;
}
.button_container {
	display: flex;
	justify-content: flex-end;
}
