.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid #ccc;
	font-family: 'Inter', 'sans-serif';
	padding: 24px;
	&:hover {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}
}
.title {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	margin-top: 0;
}
.details {
	font-size: 14px;
	font-weight: 400;
	color: #111111;
	flex: 1;
}
