.container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	> svg {
		color: #217591;
		font-size: 100px;
		margin-right: 15px;
		vertical-align: middle;
		min-width: 100px;
	}
}
.not_found {
	font-family: 'Inter', sans-serif;
	color: #696969;
	margin-top: 0;
}
.searched {
	font-size: 18px;
	font-weight: 600;
	color: #217591;
}
