.container {
	font-family: 'Inter', 'sans-serif';
	padding: 20px;
}
.title {
	font-size: 32px;
	font-weight: 600;
	text-align: center;
}
.subtitle {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	color: #696969;
}
.form_grid {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	gap: 25px;
	@media (min-width: 600px) {
		grid-template-columns: 1fr 1fr;
	}
}
.grid_image {
	position: relative;
	@media (max-width: 600px) {
		height: 400px;
	}
	@media (max-width: 500px) {
		height: 333px;
	}
	@media (max-width: 400px) {
		height: 266px;
	}
	@media (max-width: 300px) {
		height: 200px;
	}
}
.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
}
.form_label {
	color: #217591;
}
.form_input {
	font-size: 16px;
	padding: 10px;
	width: 100%;
	margin-top: 3px;
	margin-bottom: 8px;
	font-family: 'Inter', sans-serif;
}
.form_area {
	@extend .form_input;
	margin-bottom: 20px;
}
